/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js
/frontend/.yarn/install-state.gz
/frontend/package-lock.json
/frontend/yarn.lock
/frontend/coverage
/frontend/.next/
/frontend/out/
/frontend/build
/frontend/.DS_Store
/frontend/*.pem
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/*.local
/frontend/.vercel
/frontend/*.tsbuildinfo

/backend/Include
/backend/Lib
/backend/Scripts
/backend/pyvenv.cfg
__pycache__
.env
