.course-homepage {
  background-color: #222;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.course-header {
  margin: 20px 0;
}

.button-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.button {
  background-color: #444;
  border: none;
  border-radius: 5px;
  padding: 20px;
  cursor: pointer;
  font-size: 18px;
}

.button:hover {
  background-color: #555;
}

.folders {
  grid-column: span 3;
  text-align: left;
}

.folder {
  background-color: #333;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
}
